@model List<SlavStore.Models.Item>
@{
    ViewBag.Title = "MyItems";
}

<h2>MyItems</h2>

<div>
    <hr />
    @foreach (var item in Model)
    {
        <div class="row well">
            <div class="col-md-5">
                @if (item.Image == null)
                {
                    <img src="https://www.jordans.com/~/media/jordans%20redesign/no-image-found.ashx?h=275&amp;la=en&amp;w=275&amp;hash=F87BC23F17E37D57E2A0B1CC6E2E3EEE312AAD5B" alt="no image" class="col-md-12" style="max-height: 800%;max-width: 70%" />
                }
                else
                {
                    <img src="@item.Image" alt="@item.Name" class="col-md-12" style="max-height: 800%;max-width: 70%" />
                }
            </div>
            <div class="col-md-7 panel">
                <h1>@item.Name</h1>
                <h4 class="text-info">@Html.ActionLink("Visit " + @item.Seller.Name, "Details", "Stores", new { id = item.Seller.Id }, null)</h4>
                <hr />
                <h2 class="text-primary">Price: @item.Price</h2>
                <br />
                <h3 class="text-warning">
                    @if (item.Description.Length > 150)
                    {
                        @item.Description.Substring(0, 150)<span>...</span>
                    }
                    else
                    {
                        @item.Description
                    }
                </h3>
                <br />
                <p>
                    @Html.ActionLink("Details »", "Details", "Items", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default btn-lg" })
                </p>
            </div>
        </div>
        <hr />
    }
</div>