@{
    ViewBag.Title = "Home Page";
    int count = 0;
}
@using System.Diagnostics
@using SlavStore.Models.ViewModels;
@model List<HomeViewModel>
<div class="jumbotron">
    <h1>Slav Store</h1>
    <p class="lead">All the Slavnes Items you can find.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>
    @foreach (var item in Model)
    {

        if (count % 3 == 0)
        {
            @Html.Raw("<div class=\"row\">")
        }
        <div class="col-md-4 panel">
            <h2>@item.Name</h2>
            @if (item.Image == null)
            {
                <img src="https://www.jordans.com/~/media/jordans%20redesign/no-image-found.ashx?h=275&amp;la=en&amp;w=275&amp;hash=F87BC23F17E37D57E2A0B1CC6E2E3EEE312AAD5B" alt="no image" class="col-md-6"/>
            }
            else
            {
                <img src="@item.Image" alt="@item.Name" class="col-md-6" />
            }
            
            <div class="col-md-6">
                <h4>Price: @item.Price</h4>
                <p>
                    @if (item.Description.Length > 50)
                    {
                        @item.Description.Substring(0, 50)
                    }
                    else
                    {
                        @item.Description
                    }


                </p>
                <p>
                    @Html.ActionLink("Details »", "Details", "Items", new { id = item.Id },htmlAttributes: new {@class="btn btn-default"})
                </p>
            </div>
        </div>
        count++;
        if (count % 3 == 0 || count==Model.Count)
        {
            @Html.Raw("</div>")
        }
        
    }